<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="example">

  <link name="lidar" />

  <xacro:include filename="$(find velodyne_description)/urdf/VLP-max.urdf.xacro"/>
  <xacro:VLP-16 parent="lidar" name="velodyne" topic="/velodyne_points" hz="6.3" lasers="64" samples="720" min_range="0.001" max_range="15" gpu="true" collision_range="0.15">
    <origin xyz="0 0 0" rpy="0 0 0" />

  </xacro:VLP-16>

</robot>
