<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="example">

  <xacro:arg name="scan_topic" default="/velodyne_points"/>
  <xacro:arg name="tf_prefix" default=""/>
  <xacro:arg name="sensor_name" default="velodyne"/>
  <xacro:arg name="parent_link" default="lidar"/>

  <link name="$(arg parent_link)" />

  <xacro:include filename="$(find velodyne_description)/urdf/VLP-max.urdf.xacro"/>
  <xacro:VLP-16 parent="$(arg parent_link)" name="$(arg sensor_name)" topic="$(arg scan_topic)" tf_prefix="$(arg tf_prefix)" hz="6.3" lasers="64" samples="720" min_range="0.001" max_range="10" gpu="true" collision_range="0.15">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:VLP-16>

</robot>
